github "Mantle/Mantle"
github "Overcoat/Overcoat" "de5d6fd4"
github "CocoaLumberjack/CocoaLumberjack" >= 2.2.0
github "AFNetworking/AFNetworking"
github "iv-mexx/FormatterKit" "supportFrameworks"
github "robb/Asterism" "d1d99957"
github "MatthewYork/DateTools"
github "SnapKit/Masonry"
github "yapstudios/YapDatabase" >= 2.7
