github "Mantle/Mantle"
github "grgcombs/Overcoat" "pullreq/link-RAC-framework-iOS"
github "CocoaLumberjack/CocoaLumberjack" >= 2.2.0
github "AFNetworking/AFNetworking"
github "iv-mexx/FormatterKit" "supportFrameworks"
github "robb/Asterism" "master"
github "MatthewYork/DateTools"
github "SnapKit/Masonry"
github "yapstudios/YapDatabase" >= 2.7
