github "Mantle/MTLManagedObjectAdapter" "master"
github "Mantle/Mantle" "master"
github "grgcombs/Overcoat" "feature/no-promisekit-dependency"
github "CocoaLumberjack/CocoaLumberjack" >= 2.2.0
github "AFNetworking/AFNetworking" ~> 3.0
github "robb/Asterism" "master"
github "yapstudios/YapDatabase" >= 2.7
