// Build settings for testing builds.

#include "../External/XCConfigs/iOS/iOS-Framework.xcconfig"
#include "../External/XCConfigs/Base/Configurations/Test.xcconfig"
#include "TexLegeEngine.xcconfig"

// Instrument for code coverage:
GCC_GENERATE_TEST_COVERAGE_FILES = YES
GCC_INSTRUMENT_PROGRAM_FLOW_ARCS = YES
